@import "tailwindcss";

/* If you need custom variables, use the new @theme block */
@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui;
}

/* Any custom base styles */
body {
  @apply bg-white text-black;
}