@tailwind base;
@tailwind components;
@tailwind utilities;

:root { --brand: #24C47F; }

html, body { height: 100%; }

body {
  @apply bg-gray-50 text-gray-900;
  font-family: 'Poppins', system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
}

.container-xl { @apply max-w-7xl mx-auto px-4; }
